.logo {
  width: 350px;
  margin: 10px 24px 10px 0;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header {
  height: 94px !important;
}

.ant-menu.ant-menu-dark {
  background: rgba(0, 0, 0, 0) !important;
}

.ant-layout-header {
  background: rgba(0, 0, 0, 0) !important;
}

.ant-layout-header-nav {
  background: rgba(0, 0, 0, 0.8) !important;
}

.ant-menu.ant-menu-dark.ant-menu-root {
  float: right;
  margin-top: 10px;
}

.ant-menu-item-selected {
  border-bottom: solid 3px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ant-menu-dark .ant-menu-item {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}

.ant-card-cover img {
  height: 200px;
}

/* ---------------------------- */
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-40 {
  margin-right: 40px;
}

.btn-header-section {
  height: 70px !important;
  padding: 6.4px 15px !important;
  font-size: 25px !important;
  border-radius: 10px !important;
  min-width: 270px !important;
  background-color: #d0a322 !important;
  border-color: #d0a322 !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.header-image {
  background-image: url("../Image/bgRice-Home.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(180deg, #000 -30%, transparent 30%);
}

.header-image-cover {
  background-color: rgba(0, 0, 0, 0.5);
}

.header-image-cover.nav {
  height: 94px;
  overflow: hidden;
}

.header-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title-page {
  font-size: 24px;
  margin-bottom: 10px;
}

.header-color {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.title {
  border-bottom: #49af49 solid 1px;
}

.title-text {
  color: #fff;
  background-color: #49af49;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
}
